.App {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: yellow;
  height: 100%;
}
.camera{
  height: 100%;
  width: 100%;
  max-width: 900px;
  box-shadow: 0px 1px 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  position: relative;
}
.ChatsSpace{
    height: 92%;
    border-bottom: 1px inset;
    position: static;
    top: 0;
    overflow: auto;
}

.row {
  display:flex; 
  flex-direction: row;
  justify-content: space-between; 
  position: fixed                                                                               ;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  background-color:black;
  padding: 8px;
  box-sizing: border-box;
}
.data{
  height: 100%;
  overflow: auto;
}
.chatCard{
  display: flex;
  flex-direction: row;
  padding: 23px;
  border-bottom: 1px inset gray;
  font-family: ui-rounded;
}
.header{
 display: none;
}

@media only screen and (min-width:1000px) {
  .header{
    background-color: black;
    display: block;
    height: 70px;
    width: 900px;
    color: yellow;
    font-size: 42px;
    text-align: center;
    box-shadow: 0px 1px 10px black;
  }
  .headerContain{
    display: flex;
    justify-content: center;
    background: yellow;

  }
}
.cameraSpan{
  background: rgba(128, 128, 128, 0.145);
  position: absolute;
  left: 2%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 14%;

}
.chatInput{
  padding: 1.5%;
  width: 54%;
  margin-top: 8px;
  border-radius: 54px;
  background: #80808025;
  font-size: 20px;
  outline: none;
  border: none;
  margin-right: 9%;
  
}
.chatCameraIcon{
  margin-top: 7px;
}
@media only screen  and (min-width:1000px){
  .chatInput{
    width: 69%;
  }
  .cameraSpan{
    width: 50px;
    height: 50px;
    top: 10%;
  }
  .chatCameraIcon{
    margin-top: 13px;
  }
}
.ullist{
  list-style: none;
  text-align: left;
  margin-left: 10px;
  padding: 0;
}

.listItem{
  margin-left: 6px;
}
.userName{
  color: red;
}
.listContain{
  border-left: 3px solid red;
  padding: 3px;
}
